* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body, h1, p {
    font-size:16px;
    font-family: Helvetica;
    color: #000;
}

.row {
    width: 100%;
    padding: 20px;
}

h1  {
    margin: 30px 0;
    text-align: center;
    font-size: 1.75em;
    font-family: Helvetica;
    }

h2 {
    float: right;
    width: 100px;
    padding: 5px 10px;
    text-align: center;
    border: 2px solid black;
    font-size: 1.25em;
    border-right: hidden;
    border-top: hidden;
  }

.boxes {
    background-color: #a2a2a2;
    border: 2px solid black;
    margin: 14px;
  }

#p1 {
    background-color: #f09898;
  }

#p2 {
    background-color: #851414;
    color: #fff;
  }

#p3 {
    background-color: #dec57a;
  }

p {
    clear: left;
    display: inline-block;
    padding: 10px;
} 


@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
      }
      .col-lg-4 {
        width: 33.33%;
      }
    }
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6,  .col-md-12 {
        float: left;
      }
      .col-md-6 {
        width: 50%;
      }
      .col-md-12 {
        width: 100%;
      }
    }

